// Title: Layout
// Description: key styles for layout.

* {
  box-sizing: border-box;
}

body {
  font-size: 16px;
  padding: 0;
  margin: 0;
  @extend .lato;
}

main {
  min-height: 100vh;
}

.wrapper {
  margin: 0 auto;
  max-width: 1344px;
  padding: 0 1em;
  position: relative;
}

.row {
  position: relative;
}

img {
  max-width: 100%;
  height: auto;
}
